<footer class="site-footer">
    <div class="footer-content">
        <p>&copy; 2025 Le Petit Livreur — Tous droits réservés</p>
        <div class="footer-links">
            <a [routerLink]="['/legal', 'ml']">Mentions légales</a>
            <a [routerLink]="['/legal', 'cgu']">CGU</a>
            <a [routerLink]="['/legal', 'confidentialite']">Confidentialité</a>
            <a href="mailto:support@lepetitlivreur.fr">Contact</a>
            <a [routerLink]="['/legal', 'rgpd']">RGPD</a>
            <a [routerLink]="['/status']">Statuts</a>
        </div>
    </div>
</footer>