<div class="auth-container">
    <h1><span>Créer un compte</span></h1>
    <form (ngSubmit)="onSubmit()" #registerForm="ngForm" class="auth-form">

        <input type="email" id="email" name="email" [(ngModel)]="email" placeholder="Email" required>
        <input type="text" id="username" name="username" [(ngModel)]="name" placeholder="Nom d'utilisateur" required>
        <input type="password" id="password" name="password" [(ngModel)]="password" placeholder="Mot de passe" required>

        <div class="radio-group">
            <label><input type="radio" name="role" [(ngModel)]="role" value="user" checked> Client</label>
            <label><input type="radio" name="role" [(ngModel)]="role" value="seller"> Vendeur</label>
        </div>

        <button type="submit" [disabled]="!registerForm.form.valid">Créer un compte</button>
        <div class="message" *ngIf="message">{{ message }}</div>
    </form>

    <div class="switch-auth">
        <span>Déjà un compte ?</span>
        <a routerLink="/login">Se connecter</a>
    </div>
</div>