<app-navbar></app-navbar>

<div class="product-details-container">
    <div class="product-left">
        <div class="zoom-container">
            <div class="zoom-image-container">
                <img [src]="product?.image" alt="{{ product?.name }}" class="main-image" />
                <div class="zoom-result"></div>
            </div>
        </div>
    </div>

    <div class="product-right product-box">
        <h1 class="product-title">{{ product?.name }}</h1>
        <p class="product-ref">Réf. produit : {{ product?._id }}</p>

        <div class="product-price">
            <span>{{ product?.price }} €</span>
        </div>

        <p class="product-description">
            <strong>Description :</strong><br />
            {{ product?.description }}
        </p>

        <div class="product-info">
            <p><strong>Catégorie : </strong> {{ category?.name }}</p>
            <p>
                <strong>Vendu par : </strong>
                <a class="store-link" [routerLink]="['/seller/store', product?.storeId]">
                    {{ store?.name || 'Inconnu' }}
                </a>
            </p>
        </div>

        <button class="buy-button">Acheter</button>
    </div>
</div>