html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: #0f0f0f;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
}

body::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}